#logo{
    width: 350px;
}

#contenitore-logo{
    background-image: url(./img/pattern.png);
    height: 150px;
    background-color: lightskyblue;
    text-align: left;
    background-repeat: repeat;
}

#booleaner{
    color: #00BFFF;

}

#titolo-pagina{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

#sotto-titolo{
    color: grey;
}

#descrizione-img{
    font-size: 12px;
}

.testo-ex{
    font-size: 20px;
}

.background-color{
    background-color: yellow;
}